<!DOCTYPE html>
<html>

<body>

<div class="grid-container">
  
  <div style="background-color: orange;" class="grid-item">ALL Categories</div>
  <div class="grid-item">Biography</div>
  <div class="grid-item">Fiction</div>
  <div class="grid-item">Mystery</div>
  <div class="grid-item">Fantasy</div>
  <div class="grid-item">Romance</div>

</div>

<div class="grid-container">

  <div style="background-color: hotpink;" class="grid-item">Price Filter</div>
  <div class="grid-item"> <input type="range" id="vol" name="vol" min="0" max="500"> <br> 
  &#x20B9; 111.00 to &#x20B9; 55,555.00 </div>
 

</div>

</body>
</html>



